<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empalmado Welding Shop</title>
</head>

<body bgcolor="lightgray">
<h1 style="color: seagreen">EWS Free Estimate</h1>
<div class="rin">
	{% for rin in rin %}
	<div class="rin">


<ul> 
	 <li><b>Name:</b> {{ rin.Name }}</li>
	<li><p><b>Contact:</b> {{ rin.Contact }}</p></li>
	<li><p><b>ProductName:</b> {{ rin.ProductName }}</p></li>
	<li><p><b>Size:</b> {{ rin.Size}}</p></li>
	<li><p><b>Type:</b> {{ rin.Type }}</p></li>
</ul> 

<br>
		

</div>
	{% endfor %}
	</table>
</body>
</html>
 





