<html>


<title>Empalmado Welding Shop</title>
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {

  color: yellow;
}

.topnav a.active {
  background-color: red;
  color: white;
}
</style>

<body bgcolor="lightgray">
	<form class ="form" action="#" method="post">
		{% csrf_token %}
	<center>


<div class="topnav">
  <a href="Mainpage.html">Home</a>
  <a class="active" href="Estimate.html">Free Estimate</a>
  <a href="Product.html">Buy Now</a>


  
</div>	

		<h1 align="center">Empalmado Welding Shop</h1> 
		<h4 align="center">Free Estimate</h4>
		

		
 

		<label id="Name">Name:</label>
		<input type="text" id="Names" name="Name">

		<label id="Contact">Contact No.:</label>
		<input type="text" id="Contacts" name="Contact"><br><br>

		<label id="Gmail">Gmail:</label>
		<input type="text" id="Gmails" name="Gmail">

		<label id="Date">Date:</label>
		<input type="text" id="Dates" name="Date"><br><br>

		<label id="Add">Address:</label><br>
		<textarea type="text" id="Adds" name="Add" rows="2" cols="50"></textarea><br><br>


		<label id="ProdDes">Product Description:</label><br>
		<textarea type="text" id="ProdDess" name="ProdDes" rows="4" cols="50"></textarea><br><br>

		<label id="MatDes">Material Description:</label><br>
		<textarea type="text" id="MatDess" name="MatDes" rows="4" cols="50"></textarea><br><br>

		<label id="Quant">Quantity:</label><br>
		<input type="text" id="Quants" name="Quant"><br><br>

		Upload your Plan lay-out or Sample Photos (docx, pdf, jpeg, jpg, and png file only)
		<br><br>
  		<label for="myfile">Select a file:</label>
  		<input type="file" id="myfile" name="myfile"><br><br>
		
		<input type="submit" value="Submit" id="Submits" name="Submit">


</center>
</form>
</body>
</html>