<html>


<title>Empalmado Welding Shop</title>

 <head>
    <link rel="stylesheet" href="Mainpage.css">
  </head>


<body bgcolor="lightgray">
	<form class ="form" action="#" method="post">
		{% csrf_token %}
	<center>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	


<div class="topnav">
  <a class="active" href="Mainpage.html">Home</a>
  <a href="Estimate.html">Free Estimate</a>
  <a href="Product.html">Buy Now</a>

  
</div>
 
</div>

<div class="bg-image"></div>

<div class="bg-text">
  <h1 style="font-size:50px">Empalmado Welding Shop</h1>
  <p>Stainless Fabrication</p>
</div>


	<!-- 	<label id="Fname">First Name:</label><br>
		<input type="text" id="Fnames" name="Fname"><br><br>

		<label id="Lname">Last Name.:</label><br>
		<input type="text" id="Lnames" name="Lname"><br><br>

		<label id="Mail">Email:</label><br>
		<input type="text" id="Mails" name="Mail"><br><br>
 -->


</center>
</form>
</body>
</html>


<!-- <body bgcolor="lightgray">
	<form class ="form" action="#" method="post">
		{% csrf_token %}
	<center>
	

		<label id="Name">Name:</label><br>
		<input type="text" id="Names" name="Name"><br><br>

		<label id="Contact">Contact No.:</label><br>
		<input type="text" id="Contacts" name="Contact"><br><br>

		<label id="Iname">Product Name:</label><br>
		<input type="text" id="Inames" name="Iname"><br><br>

		<label id="Size">Sizes of Product in inch/ft:</label><br>
		<input type="text" id="Sizes" name="Size"><br><br>
		
		<label id="Type">Stainless Type 304 or 202:</label><br>
		<input type="text" id="Types" name="Type"><br><br>
		
		<input type="submit" value="submit" id="Submits" name="Submit">

</center>
</form>
</body>
</html>
 -->