<html>


<title>Empalmado Welding Shop</title>
<head>
  <link rel="stylesheet" href="Product.css">
</head>>

<body bgcolor="lightgray">
	
		{% csrf_token %}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	



<div class="topnav">
  <a href="Mainpage.html">Home</a>
  <a href="Estimate.html">Free Estimate</a>
  <a class="active" href="Product.html">Buy Now</a>

  
</div>

<div style="padding-left:16px" align="center">
  <h1 >Empalmado Welding Shop</h1>
  <h3>Products</h3>


<div class="row" >

  <div class="column">
    <img src="food.jpg" style="width:100%">
     <a href="BuyProduct.html" >
    <button>Buy</button>
  </a>
  </div>

  <div class="column">
    <img src="shawa.jpg" style="width:100%">
     <a href="BuyProduct.html">
    <button>Buy</button>
  </a>
  </div>
  <div class="column">
    <img src="steam.jpg" style="width:100%">
    <a href="BuyProduct.html">
    <button>Buy</button>
  </a>
  </div>
  <div class="column">
    <img src="grillerwstand.jpg" style="width:100%">
     <a href="BuyProduct.html" >
    <button>Buy</button>
  </a>
  </div>

  <div class="column">
    <img src="grillerandfryer.jpg"  style="width:100%">
     <a href="BuyProduct.html">
    <button>Buy</button>
  </a>
  </div>
  <div class="column">
    <img src="platerock.jpg" style="width:100%">
    <a href="BuyProduct.html">
    <button>Buy</button>
  </a>
  </div>
</div> 



  
  



</form>
</body>
</html>